<div class="panel-nav">
    <div class="panel-brand">Business Panel</div>

    <nav class="panel-links">
        <NavLink class="panel-link" href="/business/register" Match="NavLinkMatch.All">Business Registration</NavLink>
        <NavLink class="panel-link" href="/business/products">Manage Products</NavLink>
        <NavLink class="panel-link" href="/plants">Plants</NavLink>
        <NavLink class="panel-link" href="/tools">Tools</NavLink>
        <NavLink class="panel-link" href="/fertilizers">Fertilizers</NavLink>
        <NavLink class="panel-link" href="/medicinalkits">Medicinal Kits</NavLink>
    </nav>
</div>

