<div class="panel-nav">
    <div class="panel-brand">Admin Panel</div>

    <nav class="panel-links">
        <NavLink class="panel-link" href="/admin/drives" Match="NavLinkMatch.All">Manage Drives</NavLink>
    </nav>
</div>

