@inherits LayoutComponentBase

<div class="panel-page">
    <aside class="panel-sidebar">
        <BusinessNavMenu />
    </aside>

    <main class="panel-main">
        <article class="panel-content">
            @Body
        </article>
    </main>
</div>

